.error-header {
    color: var(--red);
}

.error {
    display: flex;
    max-width: 900px;
    width: 90%;
    margin-inline: auto;
    gap: 24px;
    background-color: var(--lightgray);
    padding: 24px;
    border-radius: 16px;
}

.error-summary {
    font-size: x-large;
    font-weight: bold;
}

.error-info {
    font-family: monospace;
    font-size: large;
    margin-top: 24px;
}

