:root {
    --white: #f1f2f3;
    --lightgray: #e5e5e5;
    --gray: #cacaca;
    --accent: #1b9e14;
    --transition: all .15s ease-in;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--white);
}

.header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    font-family: "Nunito", sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    max-width: 900px;
    width: 90%;
    margin-inline: auto;
    padding-bottom: 32px;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
    background-color: var(--lightgray);
    border-radius: 8px;
}

.attachment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment > img,
.attachment > video,
.attachment > audio
{
    max-height: 400px;
}

.input-open-wrapper {
    display: flex;
    align-items: center;
    gap: 8px
}

.input-text {
    transition: var(--transition);
    padding: 8px;
    border-radius: 4px;
    flex-grow: 1;
    border: 2px solid var(--gray);
    font-size: medium;
}

.input-text:focus {
    border-color: var(--accent)
}

.input-radio,
.input-checkbox
{
    accent-color: var(--accent);
}

.button {
    transition: var(--transition);
    font-family: "Nunito", sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 40px;
    border-radius: 4px;
    width: fit-content;
    align-self: center;
    color: var(--accent);
    background-color: transparent;
    border: 2px solid var(--accent);
}

.button:hover {
    background-color: var(--accent);
    color: var(--white);
}
