:root {
    --ifm-color-primary: #157a0f;
    --ifm-color-primary-dark: #136e0d;
    --ifm-color-primary-darker: #12680d;
    --ifm-color-primary-darkest: #0f550b;
    --ifm-color-primary-light: #178610;
    --ifm-color-primary-lighter: #188c11;
    --ifm-color-primary-lightest: #1b9f13;
}

[data-theme='dark'] {
    --ifm-color-primary: #36a930;
    --ifm-color-primary-dark: #33a12e;
    --ifm-color-primary-darker: #329b2c;
    --ifm-color-primary-darkest: #30952a;
    --ifm-color-primary-light: #3bba35;
    --ifm-color-primary-lighter: #3ec237;
    --ifm-color-primary-lightest: #54cd4e;
}

div[class^='announcementBar_'] {
    font-size: 20px;
    font-weight: bold;

    --site-announcement-bar-stripe-color1: #fde7f2;
    --site-announcement-bar-stripe-color2: #d1ecd0;

    background: repeating-linear-gradient(
        35deg,
        var(--site-announcement-bar-stripe-color1),
        var(--site-announcement-bar-stripe-color1) 20px,
        var(--site-announcement-bar-stripe-color2) 10px,
        var(--site-announcement-bar-stripe-color2) 40px
    );
}

@media screen and (max-width: 650px) {
    .button--secondary {
        font-size: medium;
    }
}
