<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/editor.css">
        <link rel="stylesheet" href="/static/css/form.css">
    </head>
    <body>
        <header class="header">
            <h1 class="main-header">Test Editor</h1>
        </header>
        <main class="main">
            <form
                class="form"
                action="/editor/create"
                method="POST"
                enctype="multipart/form-data"
            >
                <div class="input-wrapper">
                    <label for="title">
                        Title
                    </label>
                    <input
                        id="title"
                        class="input-text"
                        name="title"
                        type="text"
                        value="{{ .Test.Title }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="description">
                        Description:
                    </label>
                    <textarea
                        name="description"
                        class="input-text"
                        name="description"
                        type="text"
                        value="{{ .Test.Description }}"
                    ></textarea>
                </div>
                <div class="input-wrapper">
                    <label for="subject">
                        Subject:
                    </label>
                    <input
                        id="subject"
                        class="input-text"
                        name="subject"
                        type="text"
                        value="{{ .Test.Subject }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="target">
                        Target audience:
                    </label>
                    <input
                        id="target"
                        class="input-text"
                        name="target"
                        type="text"
                        value="{{ .Test.Target }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="institution">
                        Institution:
                    </label>
                    <input
                        id="institution"
                        class="input-text"
                        name="institution"
                        type="text"
                        value="{{ .Test.Institution }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="expiresIn">
                        Expires in:
                    </label>
                    <input
                        id="expiresIn"
                        class="input-datetime"
                        name="expiresIn"
                        type="datetime-local"
                        value="{{ .Test.ExpiresIn.Format "2006-01-02T15:04:05" }}"
                    >
                </div>
                
                <input
                    id="number-of-tasks-input"
                    name="number-of-tasks"
                    type="hidden"
                    value="{{ len .Test.Tasks }}"
                >

                <section class="tasks" id="tasks">
                    {{ range $taskIndex, $task := .Test.Tasks }}
                        <fieldset class="test-task task-{{ $taskIndex }}">
                            <legend>Task {{ call $.incr $taskIndex }}</legend>
                            <div class="input-wrapper">
                                <label for="{{ $taskIndex }}-type">
                                    Type:
                                </label>
                                <select
                                    id="{{ $taskIndex }}-type"
                                    class="input-select"
                                    name="{{ $taskIndex }}-type"
                                >
                                    {{ if eq $task.Type "single" }}
                                        <option selected value="single">Single answer</option>
                                    {{ else }}
                                        <option value="single">Single answer</option>
                                    {{ end }}
                                    {{ if eq $task.Type "multiple" }}
                                        <option selected value="multiple">Multiple answers</option>
                                    {{ else }}
                                        <option value="multiple">Multiple answers</option>
                                    {{ end }}
                                    {{ if eq $task.Type "open" }}
                                        <option selected value="open">Open question</option>
                                    {{ else }}
                                        <option value="open">Open question</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="input-wrapper">
                                <label for="{{ $taskIndex }}-text">
                                    Text:
                                </label>
                                <input
                                    name="{{ $taskIndex }}-id"
                                    class="input-text"
                                    type="text"
                                    name="{{ $taskIndex }}-text"
                                    value="{{ $task.Text }}"
                                >
                            </div>
                            <div class="input-wrapper">
                                <label for="{{ $taskIndex }}-answer">
                                    Answer:
                                </label>
                                <input
                                    id="{{ $taskIndex }}-answer"
                                    class="input-text"
                                    type="text"
                                    name="{{ $taskIndex }}-answer"
                                    value="{{ $task.Answer }}"
                                >
                            </div>

                            <div class="answer-options-wrapper">
                                <p>Answer options:</p>
                                <div class="answer-options" id="{{ $taskIndex }}-options">
                                    {{ range $task.Options }}
                                        <input
                                            class="input-text"
                                            name="{{ $taskIndex }}-options"
                                            value="{{ . }}"
                                        >
                                    {{ end }}
                                </div>
                                <button
                                    class="button-add-option"
                                    type="button"
                                    onclick="addOption({{ $taskIndex }})"
                                >
                                    + Add option
                                </button>
                            </div>

                            {{ $hasAttachment := ne $task.Attachment.Type "" }}
                            <div class="attachment-wrapper">
                                <div>
                                    <input
                                        id="{{ $taskIndex }}-has-attachment"
                                        class="input-checkbox"
                                        type="checkbox"
                                        name="{{ $taskIndex }}-has-attachment"
                                        onchange="toggleAttachment({{ $taskIndex }}, this)"
                                        checked="{{ $hasAttachment }}"
                                    >
                                    <label for="{{ $taskIndex }}-has-attachment">
                                        Add attachment
                                    </label>
                                </div>
                                <div
                                    id="{{ $taskIndex }}-attachment"
                                    class="attachment"
                                    data-enabled="{{ $hasAttachment }}"
                                >
                                    {{ if $hasAttachment }}
                                        <div class="input-wrapper">
                                            <label for="{{ $taskIndex }}-attachment-name">
                                                Name:
                                            </label>
                                            <input
                                                id="{{ $taskIndex }}-attachment-name"
                                                class="input-text"
                                                type="text"
                                                name="{{ $taskIndex }}-attachment-name"
                                                value="{{ $task.Attachment.Name }}"
                                            >
                                        </div>
                                        <div class="input-wrapper">
                                            <label for="{{ $taskIndex }}-attachment-type">
                                                Type:
                                            </label>
                                            <select
                                                id="{{ $taskIndex }}-attachment-type"
                                                class="input-select"
                                                name="{{ $taskIndex }}-attachment-type"
                                                value="{{ $task.Attachment.Type }}"
                                            >
                                                {{ if eq $task.Attachment.Type "file" }}
                                                    <option selected value="file">File</option>
                                                {{ else }}
                                                    <option value="file">File</option>
                                                {{ end }}
                                                {{ if eq $task.Attachment.Type "image" }}
                                                    <option selected value="image">Image</option>
                                                {{ else }}
                                                    <option value="image">Image</option>
                                                {{ end }}
                                                {{ if eq $task.Attachment.Type "video" }}
                                                    <option selected value="video">Video</option>
                                                {{ else }}
                                                    <option value="video">Video</option>
                                                {{ end }}
                                                {{ if eq $task.Attachment.Type "audio" }}
                                                    <option selected value="audio">Audio</option>
                                                {{ else }}
                                                    <option value="audio">Audio</option>
                                                {{ end }}
                                            </select>
                                        </div>
                                        <div class="input-wrapper">
                                            <label for="{{ $taskIndex }}-attachment-src">
                                                Source (URL):
                                            </label>
                                            <input
                                                class="input-text"
                                                type="text"
                                                name="{{ $taskIndex }}-attachment-src"
                                                value="{{ $task.Attachment.Src }}"
                                            >
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </fieldset>
                    {{ end }}
                </section>

                <button
                    id="button-add-task"
                    class="button-add-task"
                    type="button"
                >
                    + Add task
                </button>

                <button class="button" type="submit">
                    {{ .Config.SubmitButtonLabel }}
                </button>
            </form>
        </main>
        <script src="/static/js/editor.js"></script>
    </body>
</html>
