<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/form.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
        <title>{{ .I18n.Header }}</title>
    </head>
    <body>
        <header class="header">
            <h1 class="main-header">
                {{ .I18n.Header }}
            </h1>
        </header>
        <main class="main">
            <form
                class="form"
                action="/editor/edit"
                method="POST"
                enctype="multipart/form-data"
            >
                <div class="input-file">
                    <label for="test-input">
                        {{ .I18n.LabelUploadTestInput }}
                    </label>
                    <input
                        id="test-input"
                        type="file"
                        name="file"
                        accept="application/json,text/json"
                    >
                </div>
                <div class="button-group">
                    <button class="button" type="submit">
                        {{ .I18n.LabelUploadTestButton }}
                    </button>
                    <a class="button" href="/editor/edit">
                        {{ .I18n.LabelNewTest }}
                    </a>
                <div>
            </form>
        </main>
    </body>
</html>
