<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap" rel="stylesheet">
        <script>
            const config = new Map([
                ["labelTaskHeader",  "{{ .Config.LabelTaskHeader }}"],
                ["labelTaskType", "{{ .Config.LabelTaskType }}"],
                ["labelTaskTypeSingle", "{{ .Config.LabelTaskTypeSingle }}"],
                ["labelTaskTypeMultiple", "{{ .Config.LabelTaskTypeMultiple }}"],
                ["labelTaskTypeOpen", "{{ .Config.LabelTaskTypeOpen }}"],
                ["labelTaskText", "{{ .Config.LabelTaskText }}"],
                ["labelTaskAnswer", "{{ .Config.LabelTaskAnswer }}"],
                ["labelTaskOptions", "{{ .Config.LabelTaskOptions }}"],
                ["labelTaskAddOption", "{{ .Config.LabelTaskAddOption }}"],
                ["labelAddAttachment", "{{ .Config.LabelAddAttachment }}"],
                ["labelAttachmentType", "{{ .Config.LabelAttachmentType }}"],
                ["labelAttachmentTypeFile", "{{ .Config.LabelAttachmentTypeFile }}"],
                ["labelAttachmentTypeImage", "{{ .Config.LabelAttachmentTypeImage }}"],
                ["labelAttachmentTypeVideo", "{{ .Config.LabelAttachmentTypeVideo }}"],
                ["labelAttachmentTypeAudio", "{{ .Config.LabelAttachmentTypeAudio }}"],
                ["labelAttachmentName", "{{ .Config.LabelAttachmentName }}"],
                ["labelAttachmentSrc", "{{ .Config.LabelAttachmentSrc }}"],
            ])
        </script>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/editor.css">
        <link rel="stylesheet" href="/static/css/form.css">
        <title>{{ .Config.Header }}</title>
    </head>
    <body>
        <header class="header">
            <h1 class="main-header">
                {{ .Config.Header }}
            </h1>
        </header>
        <main class="main">
            <form
                class="form"
                action="/editor/create"
                method="POST"
                enctype="multipart/form-data"
            >
                <div class="input-wrapper">
                    <label for="title">
                        {{ .Config.LabelTitle }}
                    </label>
                    <input
                        id="title"
                        class="input-text"
                        name="title"
                        type="text"
                        value="{{ .Test.Title }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="description">
                        {{ .Config.LabelDescription }}
                    </label>
                    <textarea
                        name="description"
                        class="input-text"
                        name="description"
                        type="text"
                        value="{{ .Test.Description }}"
                    ></textarea>
                </div>
                <div class="input-wrapper">
                    <label for="subject">
                        {{ .Config.LabelSubject }}
                    </label>
                    <input
                        id="subject"
                        class="input-text"
                        name="subject"
                        type="text"
                        value="{{ .Test.Subject }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="author">
                        {{ .Config.LabelAuthor }}
                    </label>
                    <input
                        id="author"
                        class="input-text"
                        name="author"
                        type="text"
                        value="{{ .Test.Author }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="target">
                        {{ .Config.LabelTarget }}
                    </label>
                    <input
                        id="target"
                        class="input-text"
                        name="target"
                        type="text"
                        value="{{ .Test.Target }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="institution">
                        {{ .Config.LabelInstitution }}
                    </label>
                    <input
                        id="institution"
                        class="input-text"
                        name="institution"
                        type="text"
                        value="{{ .Test.Institution }}"
                    >
                </div>
                <div class="input-wrapper">
                    <label for="expiresIn">
                        {{ .Config.LabelExpiresIn }}
                    </label>
                    <input
                        id="expiresIn"
                        class="input-datetime"
                        name="expiresIn"
                        type="datetime-local"
                        value="{{ .Test.ExpiresIn.Format "2006-01-02T15:04:05" }}"
                    >
                </div>
                
                <input
                    id="number-of-tasks-input"
                    name="number-of-tasks"
                    type="hidden"
                    value="{{ len .Test.Tasks }}"
                >

                <section class="tasks" id="tasks">
                    {{ range $taskIndex, $task := .Test.Tasks }}
                        <fieldset class="test-task task-{{ $taskIndex }}">
                            <legend>{{ $.Config.LabelTaskHeader }} {{ call $.incr $taskIndex }}</legend>
                            <div class="input-wrapper">
                                <label for="{{ $taskIndex }}-type">
                                    {{ $.Config.LabelTaskType }}
                                </label>
                                <select
                                    id="{{ $taskIndex }}-type"
                                    class="input-select"
                                    name="{{ $taskIndex }}-type"
                                >
                                    {{ if eq $task.Type "single" }}
                                        <option selected value="single">
                                            {{ $.Config.LabelTaskTypeSingle }}
                                        </option>
                                    {{ else }}
                                        <option value="single">
                                            {{ $.Config.LabelTaskTypeSingle }}
                                        </option>
                                    {{ end }}
                                    {{ if eq $task.Type "multiple" }}
                                        <option selected value="multiple">
                                            {{ $.Config.LabelTaskTypeMultiple }}
                                        </option>
                                    {{ else }}
                                        <option value="multiple">
                                            {{ $.Config.LabelTaskTypeMultiple }}
                                        </option>
                                    {{ end }}
                                    {{ if eq $task.Type "open" }}
                                        <option selected value="open">
                                            {{ $.Config.LabelTaskTypeOpen }}
                                        </option>
                                    {{ else }}
                                        <option value="open">
                                            {{ $.Config.LabelTaskTypeOpen }}
                                        </option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="input-wrapper">
                                <label for="{{ $taskIndex }}-text">
                                    {{ $.Config.LabelTaskText }}
                                </label>
                                <input
                                    name="{{ $taskIndex }}-id"
                                    class="input-text"
                                    type="text"
                                    name="{{ $taskIndex }}-text"
                                    value="{{ $task.Text }}"
                                >
                            </div>
                            <div class="input-wrapper">
                                <label for="{{ $taskIndex }}-answer">
                                    {{ $.Config.LabelTaskAnswer }}
                                </label>
                                <input
                                    id="{{ $taskIndex }}-answer"
                                    class="input-text"
                                    type="text"
                                    name="{{ $taskIndex }}-answer"
                                    value="{{ $task.Answer }}"
                                >
                            </div>

                            <div class="answer-options-wrapper">
                                <p>{{ $.Config.LabelTaskOptions }}</p>
                                <div class="answer-options" id="{{ $taskIndex }}-options">
                                    {{ range $task.Options }}
                                        <input
                                            class="input-text"
                                            name="{{ $taskIndex }}-options"
                                            value="{{ . }}"
                                        >
                                    {{ end }}
                                </div>
                                <button
                                    class="button-add-option"
                                    type="button"
                                    onclick="addOption({{ $taskIndex }})"
                                >
                                    {{ $.Config.LabelTaskAddOption }}
                                </button>
                            </div>

                            {{ $hasAttachment := ne $task.Attachment.Type "" }}
                            <div class="attachment-wrapper">
                                <div>
                                    <input
                                        id="{{ $taskIndex }}-has-attachment"
                                        class="input-checkbox"
                                        type="checkbox"
                                        name="{{ $taskIndex }}-has-attachment"
                                        onchange="toggleAttachment({{ $taskIndex }}, this)"
                                        checked="{{ $hasAttachment }}"
                                    >
                                    <label for="{{ $taskIndex }}-has-attachment">
                                        {{ $.Config.LabelAddAttachment }}
                                    </label>
                                </div>
                                <div
                                    id="{{ $taskIndex }}-attachment"
                                    class="attachment"
                                    data-enabled="{{ $hasAttachment }}"
                                >
                                    {{ if $hasAttachment }}
                                        <div class="input-wrapper">
                                            <label for="{{ $taskIndex }}-attachment-name">
                                                {{ $.Config.LabelAttachmentName }}
                                            </label>
                                            <input
                                                id="{{ $taskIndex }}-attachment-name"
                                                class="input-text"
                                                type="text"
                                                name="{{ $taskIndex }}-attachment-name"
                                                value="{{ $task.Attachment.Name }}"
                                            >
                                        </div>
                                        <div class="input-wrapper">
                                            <label for="{{ $taskIndex }}-attachment-type">
                                                {{ $.Config.LabelAttachmentType }}
                                            </label>
                                            <select
                                                id="{{ $taskIndex }}-attachment-type"
                                                class="input-select"
                                                name="{{ $taskIndex }}-attachment-type"
                                                value="{{ $task.Attachment.Type }}"
                                            >
                                                {{ if eq $task.Attachment.Type "file" }}
                                                    <option selected value="file">
                                                        {{ $.Config.LabelAttachmentTypeFile }}
                                                    </option>
                                                {{ else }}
                                                    <option value="file">
                                                        {{ $.Config.LabelAttachmentTypeFile }}
                                                    </option>
                                                {{ end }}
                                                {{ if eq $task.Attachment.Type "image" }}
                                                    <option selected value="image">
                                                        {{ $.Config.LabelAttachmentTypeImage }}
                                                    </option>
                                                {{ else }}
                                                    <option value="image">
                                                        {{ $.Config.LabelAttachmentTypeImage }}
                                                    </option>
                                                {{ end }}
                                                {{ if eq $task.Attachment.Type "video" }}
                                                    <option selected value="video">
                                                        {{ $.Config.LabelAttachmentTypeVideo }}
                                                    </option>
                                                {{ else }}
                                                    <option value="video">
                                                        {{ $.Config.LabelAttachmentTypeVideo }}
                                                    </option>
                                                {{ end }}
                                                {{ if eq $task.Attachment.Type "audio" }}
                                                    <option selected value="audio">
                                                        {{ $.Config.LabelAttachmentTypeAudio }}
                                                    </option>
                                                {{ else }}
                                                    <option value="audio">
                                                        {{ $.Config.LabelAttachmentTypeAudio }}
                                                    </option>
                                                {{ end }}
                                            </select>
                                        </div>
                                        <div class="input-wrapper">
                                            <label for="{{ $taskIndex }}-attachment-src">
                                                {{ $.Config.LabelAttachmentSrc }}
                                            </label>
                                            <input
                                                id="{{ $taskIndex }}-attachment-src"
                                                class="input-text"
                                                type="text"
                                                name="{{ $taskIndex }}-attachment-src"
                                                value="{{ $task.Attachment.Src }}"
                                            >
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </fieldset>
                    {{ end }}
                </section>

                <button
                    id="button-add-task"
                    class="button-add-task"
                    type="button"
                >
                    {{ .Config.LabelAddTask }}
                </button>

                <button class="button" type="submit">
                    {{ .Config.LabelDownloadTest }}
                </button>
            </form>
        </main>
        <script src="/static/js/editor.js"></script>
    </body>
</html>
