<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <title>{{ .Title }} | Hakutest</title>
</head>
<body>
    <header class="header error__header">
        <h1 class="header__title error__title">
            {{ .Title }}
        </h1>
    </header>
    <main class="main">
        <div class="container data__container error__container shadow">
            <div class="data__container__header error__container__header">
                <i class="i error"></i>
                {{ i "meta.error" }}
            </div>
            <div class="data__container__body error__container__body">
                <p>{{ .Text }}</p>
            </div>
        </div>
    </main>
    <footer class="error__debug">
        <code class="error__debug__message">
            {{ .Code }} : {{ .Message }} : {{ .Error }}
        </code>
    </footer>
</body>
</html>
