<!DOCTYPE html>
<html lang="{{ .Language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/error.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
        <title>{{ .I18n.Header }}</title>
    </head>
    <body>
        <header class="header">
            <h1 class="main-header error-header">{{ .I18n.Header }}</h1>
        </header>
        <main class="main">
            <details class="container">
                <summary class="error-summary">{{ .I18n.Details }}</summary>
                <code class="error-info">
                    {{ .Code }}:
                    {{ .Detail }}
                    ({{ .Error }})
                </code>
            </details>
        </main>
    </body>
</html>
