<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/error.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
        <title>{{ .Config.Header }}</title>
    </head>
    <body>
        <header class="header">
            <h1 class="main-header error-header">{{ .Config.Header }}</h1>
        </header>
        <main class="main">
            <p class="error">{{ .Config.Message }}</p>
        </main>
    </body>
</html>
