<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <script defer src="/static/js/search.js"></script>

    <title>Hakutest</title>
</head>
<body>
    <main class="main container">
        <h1 class="logo">
            <img
                class="logo__img"
                src="/static/img/logo.svg"
                alt="Hakutest"
            />
        </h1>
        <form id="search-form" class="form container">
            <input
                id="search-input"
                class="form__item form__input form__input-maxwidth"
                name="q"
                placeholder="{{ call .I18n "index.input" }}"
                type="search"
                list="test-list"
                aria-label="{{ call .I18n "index.input" }}"
                pattern="[^\/\\]+"
                required
                autofocus
            >
            <datalist id="test-list">
                {{ range .Tests }}
                    <option value="{{ . }}"></option>
                {{ end }}
            </datalist>
            <button class="form__item form__button">
                {{ call .I18n "index.submit" }}
            </button>
        </form>
    </main>
</body>
</html>
