<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/info.css">

    <title>{{ .Title }} | Hakutest</title>
</head>
<body>
    <header class="header info__header">
        <h1 class="header__title info__title">
            {{ .Title }}
        </h1>
    </header>
    <main>
        <div class="container info__container">
            <div class="info__container__header">
                <span class="i info"></span>
                {{ call .I18n "meta.info" }}
            </div>
            <div class="info__container__body">
                <p>{{ .Text }}</p>
            </div>
        </div>
    </main>
</body>
</html>
