<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/info.css">
    <title>{{ .Title }} | Hakutest</title>
</head>
<body>
    <header class="header info__header">
        <h1 class="header__title info__title">
            {{ .Title }}
        </h1>
    </header>
    <main>
        <div class="container data__container info__container">
            <div class="data__container__header info__container__header">
                <i class="i info"></i>
                {{ i "meta.info" }}
            </div>
            <div class="data__container__body info__container__body">
                <p>{{ .Text }}</p>
            </div>
        </div>
    </main>
</body>
</html>
