<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/form.css">
        <link rel="stylesheet" href="/static/css/search.css">
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
        <title>Hakutest</title>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <img class="logo" src="/static/img/logo.svg" alt="Hakutest">
            </header>
            <main class="main">
                <form id="search-form" class="form">
                    <input
                        id="search-input"
                        class="input-text"
                        name="q"
                        placeholder="{{ .Config.InputPlaceholder }}"
                        type="search"
                        list="test-list"
                        aria-label="{{ .Config.InputPlaceholder }}"
                    >
                    <datalist id="test-list">
                        {{ range .TestList }}
                            <option value="{{ . }}"></option>
                        {{ end }}
                    </datalist>
                    <button class="button">{{ .Config.SearchButtonLabel }}</button>
                </form>
            </main>
        </div>
        <script src="/static/js/search.js"></script>
    </body>
</html>
