<!DOCTYPE html>
<html lang="{{ i "lang" }}" dir="{{ i "dir" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/test.css">
    <title>{{ .Title }} | Hakutest</title>
</head>
<body>
    <header class="header test__header">
        <h1 class="header__title test__title">{{ .Title }}</h1>
    </header>
    <main>
        <form
            class="container"
            method="POST"
            autocomplete="off"
            onsubmit="return confirm({{ i "test.confirm" }})"
        >
            <div class="test__task">
                <label class="student__label">
                    <span>{{ i "test.student" }}</span>
                    <input class="input" name="student" required autofocus>
                </label>
            </div>
            {{ range $index, $task := .Tasks }}
            <div class="test__task">
                <h2>{{ i "test.task_heading" }} {{ incr $index }}</h2>
                <div class="test__task__text">{{ markdown .Text }}</div>
                <div class="test__task__options">
                    {{ if eq .Type "single" }}
                        <fieldset class="task__options__fieldset">
                            <legend class="task__legend">
                                <i>{{ i "test.task_single" }}</i>
                            </legend>
                            {{ range $optIndex, $opt := .Options }}
                                <label class="task__single__label">
                                    <input
                                        type="radio"
                                        name="{{ $index }}"
                                        value="{{ $optIndex }}"
                                    />
                                    <span>{{ $opt }}</span>
                                </label>
                            {{ end }}
                        </fieldset>
                    {{ else if eq .Type "multiple" }}
                        <fieldset class="task__options__fieldset">
                            <legend class="task__legend">
                                <i>{{ i "test.task_multiple" }}</i>
                            </legend>
                            {{ range $optIndex, $opt := .Options }}
                                <label class="task__multiple__label">
                                    <input
                                        type="checkbox"
                                        name="{{ $index }}"
                                        value="{{ $optIndex }}"
                                    />
                                    <span>{{ $opt }}</span>
                                </label>
                            {{ end }}
                        </fieldset>
                    {{ else if eq .Type "open" }}
                        <label class="task__open__label">
                            <i>{{ i "test.task_open" }}</i>
                            <input class="input" name="{{ $index }}">
                        </label>
                    {{ else if eq .Type "detailed" }}
                        <label class="task__detailed__label">
                            <i>{{ i "test.task_detailed" }}</i>
                            <textarea
                               class="input textarea"
                               name="{{ $index }}"
                            ></textarea>
                        </label>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            <button class="button button__primary">
                {{ i "test.submit" }}
            </button>
        </form>
    <main>
</body>
</html>
