<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/test.css">

    <script defer src="/static/vendor/alpine-3.14.1.min.js"></script>

    <title>{{ .Test.Title }} | Hakutest</title>
</head>
<body
    x-data="{
        student: '',
        answers: [
            {{ range .Test.Tasks }}
                {{ if eq .Type "multiple" }}
                    []
                {{ else }}
                    ''
                {{ end }},
            {{ end }}
        ],
        get answersGiven() {
            const isGiven = (answer) => {
                return !!answer.toString().length
            }
            const given = this.answers.filter(isGiven).length
            return `${given} / {{ len .Test.Tasks }}`
        },
        showModal: false,
        openModal() {
            this.showModal = true
        },
        closeModal() {
            this.showModal = false
        },
        submit() {
            alert('TODO: implement submission logic')
        }
    }"
    x-on:keydown.escape="closeModal"
    x-bind:data-modal-open="showModal"
>
    <header class="header container">
        <h1 class="header__title">{{ .Test.Title }}</h1>
    </header>
    <main 
    >
        <form
            class="form container"
            x-on:submit.prevent="openModal"
        >
            <div class="form__task">
                <label class="form__task__options__wrapper">
                    <span>{{ call $.I18n "test.form.student" }}</span>
                    <input
                        class="form__item form__item-maxwidth form__input"
                        name="student"
                        required
                        autofocus
                        x-model="student"
                    >
                </label>
            </div>
            {{ range $index, $task := .Test.Tasks }}
                <div class="form__task">
                    <div class="form__task__text">{{ .Text }}</div>
                    <div class="form__task__options">
                        {{ if eq .Type "single" }}
                            <fieldset class="form__task__options__fieldset">
                                <legend class="form__task__options__fieldset__legend">
                                    <i>{{ call $.I18n "test.task.single.legend" }}</i>
                                </legend>
                                {{ range $optIndex, $opt := .Options }}
                                    <label class="form__label">
                                        <input
                                            type="radio"
                                            name="task-{{ $index }}"
                                            value="{{ $optIndex }}"
                                            x-model="answers[{{ $index }}]"
                                        />
                                        <span>{{ $opt }}</span>
                                    </label>
                                {{ end }}
                            </fieldset>
                        {{ else if eq .Type "multiple" }}
                            <fieldset class="form__task__options__fieldset">
                                <legend class="form__task__options__fieldset__legend">
                                    <i>{{ call $.I18n "test.task.multiple.legend" }}</i>
                                </legend>
                                {{ range $optIndex, $opt := .Options }}
                                    <label class="form__label">
                                        <input
                                            type="checkbox"
                                            name="task-{{ $index }}"
                                            value="{{ $optIndex }}"
                                            x-model="answers[{{ $index }}]"
                                        />
                                        <span>{{ $opt }}</span>
                                    </label>
                                {{ end }}
                            </fieldset>
                        {{ else if eq .Type "open" }}
                            <label class="form__task__options__wrapper">
                                <i>{{ call $.I18n "test.task.open.label" }}</i>
                                <input
                                    class="form__item form__item-maxwidth form__input"
                                    name="task-{{ $index }}"
                                    x-model="answers[{{ $index }}]"
                                >
                            </label>
                        {{ else if eq .Type "detailed" }}
                            <label class="form__task__options__wrapper">
                                <i>{{ call $.I18n "test.task.detailed.label" }}</i>
                                <textarea
                                    class="form__item form__item-maxwidth form__textarea"
                                    name="task-{{ $index }}"
                                    x-model="answers[{{ $index }}]"
                                ></textarea>
                            </label>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
            <button class="form__item form__button">
                {{ call $.I18n "test.form.submit" }}
            </button>
        </form>
        <div
            class="modal__backdrop"
            x-cloak
            x-show="showModal"
        >
            <div class="modal" x-on:click.away="closeModal">
                <div class="modal__header">
                    <h2 class="modal__heading">
                        {{ call $.I18n "test.form.confirm" }}
                    </h2>
                    <span 
                        class="i close"
                        aria-label="{{ call $.I18n "test.form.close" }}"
                        x-on:click="closeModal"
                    ></span>
                </div>
                <div class="modal__body">
                    <p class="modal__text">
                        {{ call $.I18n "test.form.name" }}
                        <b x-text="student"></b>
                    </p>
                    <p class="modal__text">
                        {{ call $.I18n "test.form.answers_given" }}
                        <b x-text="answersGiven"></b>
                    </p>
                </div>
                <div class="modal__footer">
                    <button class="form__item form__button" x-on:click="submit">
                        {{ call $.I18n "test.form.submit" }}
                    </button>
                </div>
            </div>
        </div>
    <main>
</body>
</html>
