<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/form.css">
        <link rel="stylesheet" href="/static/css/test.css">
    </head>
    <body>
        <header class="header">
            <h1 class="main-header">{{ .Title }}</h1>
        </header>
        <main class="main">
            <form method="POST" class="form">
                <section class="task">
                    <div class="input-wrapper">
                        <label for="student">{{ .Config.StudentNameLabel }}</label>
                        <input
                            id="student"
                            class="input-text"
                            type="text"
                            name="student"
                            required
                        >
                    </div>
                </section>
                {{ range $task_index, $task := .Tasks }}
                    {{ with $task }}
                        <section class="task">
                            <p>{{ .Text }}</p>
                            <div class="attachment">
                                {{ if eq .Attachment.Type "image" }}
                                    <img
                                        src="{{ call $.url .Attachment.Src }}"
                                        alt="{{ .Attachment.Name }}"
                                    >
                                {{ else if eq .Attachment.Type "video" }}
                                    <video controls src="{{ call $.url  .Attachment.Src }}"></video>
                                {{ else if eq .Attachment.Type "audio" }}
                                    <audio controls src="{{ call $.url  .Attachment.Src }}"></audio>
                                {{ else if eq .Attachment.Type "file" }}
                                    <a
                                        href="{{ call $.url .Attachment.Src }}"
                                        download="{{ .Attachment.Name }}"
                                    >
                                        {{ .Attachment.Name }}
                                    </a>
                                {{ end }}
                            </div>
                            <div>
                                {{ if eq .Type "single" }}
                                    {{ range $option_index, $option := .Options }}
                                        {{ $input_id := (printf "task-%d-%d" $task_index $option_index) }}
                                        <div>
                                            <input
                                                id="{{ $input_id }}"
                                                class="input-radio"
                                                type="radio"
                                                name="{{ $task_index }}"
                                                value="{{ call $.incr $option_index }}"
                                            >
                                            <label for="{{ $input_id }}">
                                                {{ $option }}
                                            </label>
                                        </div>
                                    {{ end }}
                                {{ else if eq .Type "multiple" }}
                                    {{ range $option_index, $option := .Options }}
                                        {{ $input_id := (printf "task-%d-%d" $task_index $option_index) }}
                                        <div>
                                            <input
                                                id="{{ $input_id }}"
                                                class="input-checkbox"
                                                type="checkbox"
                                                name="{{ $task_index }}"
                                                value="{{ call $.incr $option_index }}"
                                            >
                                            <label for="{{ $input_id }}">
                                                {{ $option }}
                                            </label>
                                        </div>
                                    {{ end }}
                                {{ else if eq .Type "open" }}
                                    {{ $input_id := (printf "task-%d" $task_index) }}
                                    <div class="input-wrapper">
                                        <label for="{{ $input_id }}">
                                            {{ $.Config.OpenAnswerLabel }}
                                        </label>
                                        <input
                                            id="{{ $input_id }}"
                                            class="input-text"
                                            type="text"
                                            name="{{ $task_index }}"
                                        >
                                    </div>
                                {{ end }}
                            </div>
                        </section>
                    {{ end }}
                {{ end }}
                <button class="button" type="submit">
                    {{ .Config.SubmitButtonLabel }}
                </button>
            </form>
        </main>
    </body>
</html>
