<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/test.css">

    <script defer src="/static/js/test.js"></script>

    <title>{{ .Test.Title }} | Hakutest</title>
</head>
<body>
    <header class="header container">
        <h1 class="header__title">{{ .Test.Title }}</h1>
    </header>
    <main 
    >
        <form
            id="test-form"
            class="form container"
            method="POST"
            action="/{{ .TestName }}"
        >
            <div class="form__task">
                <label class="form__task__options__wrapper">
                    <span>{{ call $.I18n "test.form.student" }}</span>
                    <input
                        class="form__item form__item-maxwidth form__input"
                        name="student"
                        required
                        autofocus
                    >
                </label>
            </div>
            {{ range $index, $task := .Test.Tasks }}
                <div class="form__task">
                    <div class="form__task__text">{{ .Text }}</div>
                    <div class="form__task__options">
                        {{ if eq .Type "single" }}
                            <fieldset class="form__task__options__fieldset">
                                <legend class="form__task__options__fieldset__legend">
                                    <i>{{ call $.I18n "test.task.single.legend" }}</i>
                                </legend>
                                {{ range $optIndex, $opt := .Options }}
                                    <label class="form__label">
                                        <input
                                            type="radio"
                                            name="{{ $index }}"
                                            value="{{ $optIndex }}"
                                        />
                                        <span>{{ $opt }}</span>
                                    </label>
                                {{ end }}
                            </fieldset>
                        {{ else if eq .Type "multiple" }}
                            <fieldset class="form__task__options__fieldset">
                                <legend class="form__task__options__fieldset__legend">
                                    <i>{{ call $.I18n "test.task.multiple.legend" }}</i>
                                </legend>
                                {{ range $optIndex, $opt := .Options }}
                                    <label class="form__label">
                                        <input
                                            type="checkbox"
                                            name="{{ $index }}"
                                            value="{{ $optIndex }}"
                                        />
                                        <span>{{ $opt }}</span>
                                    </label>
                                {{ end }}
                            </fieldset>
                        {{ else if eq .Type "open" }}
                            <label class="form__task__options__wrapper">
                                <i>{{ call $.I18n "test.task.open.label" }}</i>
                                <input
                                    class="form__item form__item-maxwidth form__input"
                                    name="{{ $index }}"
                                >
                            </label>
                        {{ else if eq .Type "detailed" }}
                            <label class="form__task__options__wrapper">
                                <i>{{ call $.I18n "test.task.detailed.label" }}</i>
                                <textarea
                                    class="form__item form__item-maxwidth form__textarea"
                                    name="{{ $index }}"
                                ></textarea>
                            </label>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
            <button class="form__item form__button">
                {{ call $.I18n "test.form.submit" }}
            </button>
        </form>
        <div class="modal__backdrop"></div>
        <div class="modal__wrapper">
            <div class="modal">
                <div class="modal__header">
                    <span 
                        class="i close modal__close"
                        aria-label="{{ call $.I18n "test.form.close" }}"
                    ></span>
                </div>
                <div class="modal__body">
                    <h2 class="modal__heading">
                        {{ call $.I18n "test.form.confirm" }}
                    </h2>
                </div>
                <div class="modal__footer">
                    <button class="form__item form__button modal__confirm">
                        {{ call $.I18n "test.form.submit" }}
                    </button>
                </form>
            </div>
        </div>
    <main>
</body>
</html>
