<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/test.css">
    <script defer src="/static/js/test.js"></script>
    <title>{{ .Test.Title }} | Hakutest</title>
</head>
<body>
    <header class="header test__header">
        <h1 class="header__title test__title">{{ .Test.Title }}</h1>
    </header>
    <main>
        <form
            id="test-form"
            class="form test__form container"
            method="POST"
            action="/{{ .TestName }}"
        >
            <div class="test__task">
                <label class="student__label">
                    <span>{{ i "test.form.student" }}</span>
                    <input class="input" name="student" required autofocus>
                </label>
            </div>
            {{ range $index, $task := .Test.Tasks }}
                <div class="test__task">
                    <div class="test__task__text">{{ .Text }}</div>
                    <div class="test__task__options">
                        {{ if eq .Type "single" }}
                            <fieldset class="task__options__fieldset">
                                <legend class="task__legend">
                                    <i>{{ i "test.task.single.legend" }}</i>
                                </legend>
                                {{ range $optIndex, $opt := .Options }}
                                    <label class="task__single__label">
                                        <input
                                            type="radio"
                                            name="{{ $index }}"
                                            value="{{ $optIndex }}"
                                        />
                                        <span>{{ $opt }}</span>
                                    </label>
                                {{ end }}
                            </fieldset>
                        {{ else if eq .Type "multiple" }}
                            <fieldset class="task__options__fieldset">
                                <legend class="task__legend">
                                    <i>{{ i "test.task.multiple.legend" }}</i>
                                </legend>
                                {{ range $optIndex, $opt := .Options }}
                                    <label class="task__multiple__label">
                                        <input
                                            type="checkbox"
                                            name="{{ $index }}"
                                            value="{{ $optIndex }}"
                                        />
                                        <span>{{ $opt }}</span>
                                    </label>
                                {{ end }}
                            </fieldset>
                        {{ else if eq .Type "open" }}
                            <label class="task__open__label">
                                <i>{{ i "test.task.open.label" }}</i>
                                <input class="input" name="{{ $index }}">
                            </label>
                        {{ else if eq .Type "detailed" }}
                            <label class="task__detailed__label">
                                <i>{{ i "test.task.detailed.label" }}</i>
                                <textarea
                                   class="input textarea"
                                   name="{{ $index }}"
                                ></textarea>
                            </label>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
            <button class="button button__primary">
                {{ i "test.form.submit" }}
            </button>
        </form>
        <div class="modal__backdrop" data-cancel>
            <div class="modal">
                <div class="modal__header">
                    <span
                        class="i close"
                        aria-label="{{ i "test.form.close" }}"
                        data-cancel
                    ></span>
                </div>
                <div class="modal__body">
                    <h2 class="modal__heading">
                        {{ i "test.form.confirm" }}
                    </h2>
                </div>
                <div class="modal__footer">
                    <button class="button button__primary" data-confirm>
                        {{ i "test.form.submit" }}
                    </button>
                </div>
            </div>
        </div>
    <main>
</body>
</html>
