/* comfortaa-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/comfortaa-v45-cyrillic_latin-regular.woff2') format('woff2'),
         url('/static/fonts/comfortaa-v45-cyrillic_latin-regular.ttf') format('truetype');
}

/* comfortaa-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/comfortaa-v45-cyrillic_latin-700.woff2') format('woff2'),
         url('/static/fonts/comfortaa-v45-cyrillic_latin-700.ttf') format('truetype');
}

/* open-sans-regular - cyrillic_latin_math_symbols */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-regular.woff2') format('woff2'),
         url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-regular.ttf') format('truetype');
}

/* open-sans-italic - cyrillic_latin_math_symbols */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-italic.woff2') format('woff2'),
         url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-italic.ttf') format('truetype');
}

/* open-sans-700 - cyrillic_latin_math_symbols */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-700.woff2') format('woff2'),
         url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-700.ttf') format('truetype');
}

/* open-sans-700italic - cyrillic_latin_math_symbols */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-700italic.woff2') format('woff2'),
         url('/static/fonts/open-sans-v40-cyrillic_latin_math_symbols-700italic.ttf') format('truetype');
}

/* Icon font */
@font-face {
    font-family: 'Iconify Explorer Font';
    src: url('/static/fonts/iconfont.ttf') format('truetype'),
         url('/static/fonts/iconfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

.i {
    font-family: 'Iconify Explorer Font' !important;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i.book:before {
    content: '\e001';
}

.i.correctness:before {
    content: '\e002';
}

.i.checkmark:before {
    content: '\e003';
}

.i.close:before {
    content: '\e004';
}

.i.cross:before {
    content: '\e004';
}

.i.error:before {
    content: '\e005';
}

.i.hash:before {
    content: '\e006';
}

.i.info:before {
    content: '\e007';
}

.i.result:before {
    content: '\e008';
}

.i.search:before {
    content: '\e009';
}
