input[type='checkbox'],
input[type='radio'] {
    background: none;
    accent-color: var(--green);
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: medium;
    text-decoration: none;
}

.button__primary {
    background: var(--green);
    color: var(--background);
    padding: 8px 16px;
    border-radius: 4px;
}

.button__primary:hover {
    background: var(--darkgreen);
}

.button__secondary {
    background: var(--blue);
    color: var(--background);
    padding: 8px 16px;
    border-radius: 4px;
}

.button__danger {
    background: var(--red);
    color: var(--background);
    padding: 8px 16px;
    border-radius: 4px;
}

.button[disabled] {
    background: var(--secondary);
    cursor: not-allowed;
}

.button__primary .i,
.button__secondary .i,
.button__danger .i {
    color: var(--background);
}

.form {
    gap: 36px;
}

.input {
    background: var(--background);
    padding: 8px 16px;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    outline: none;
    font-size: medium;
}

.input:focus {
    border-color: var(--darkgreen);
}

.textarea {
    resize: vertical;
    min-height: 96px;
}
