:root {
    --background: #F5FFFA;
    --selection: #E8EAE8;
    --foreground: #232323;
    --secondary: #A9A9A7;
    --blue: #4169E1;
    --green: #3EA04B;
    --darkgreen: #2c7135;
    --orange: #FF7514;
    --pink: #F664AF;
    --purple: #8D71AA;
    --red: #B11213;
    --yellow: #DDD645;
    --backdrop: rgba(16, 16, 16, .7);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--foreground);

    transition-duration: .15s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background: var(--background);
}

body.modal_open {
    overflow: hidden;
}

main {
    flex-grow: 1;
}

[x-cloak] {
    display: none !important;
}

.header {
    padding: 64px;
}

.header__title {
    font-family: Comfortaa;
    font-size: xx-large;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
}

.data__container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    background-color: var(--selection);
    border-radius: 8px;
    min-height: 240px;
    border: 2px solid var(--red);
}

.data__container__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    font-family: Comfortaa, sans-serif;
    font-size: 18px;
}

.data__container__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 32px;
}
