:root {
    --background: #FFFAFA;
    --selection: #EDEDED;
    --foreground: #232323;
    --secondary: #A9A9A7;
    --blue: #4169E1;
    --green: #008000;
    --darkgreen: #2C7135;
    --red: #FF4500;
    --yellow: #FFFF00;
    --shadow: rgba(16, 16, 16, .3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #161616;
        --selection: #232323;
        --foreground: #E8EFE9;
        --secondary: #808080;
        --blue: #4ca7e3;
        --green: #84CB6B;
        --darkgreen: #67B458;
        --red: #FF4500;
        --yellow: #FFFF00;
        --shadow: rgba(136, 144, 136, .5);
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--foreground);

    transition-duration: .15s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background: var(--background);
}

main {
    flex-grow: 1;
}

code {
    font-family: monospace;
    font-size: larger;
}

.code__inline {
    background-color: var(--selection);
    padding: 4px;
    border-radius: 4px;
}

[x-cloak] {
    display: none !important;
}

.header {
    padding: 64px;
}

.header__title {
    font-family: Comfortaa;
    font-size: xx-large;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
}

.data__container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 8px;
    min-height: 240px;
}

.data__container__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    font-family: Comfortaa, sans-serif;
    font-size: 18px;
}

.data__container__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 32px;
}

.shadow {
    -webkit-box-shadow: var(--shadow) 0 1px 4px;
    -moz-box-shadow: var(--shadow) 0 1px 4px;
    box-shadow: var(--shadow) 0 1px 4px;
}
