.test__header {
    padding: 64px;
}

.test__title {
    font-family: Comfortaa;
    font-size: xx-large;
    text-align: center;
}

.test__task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    width: 100%;
    max-width: 800px;
    padding: 32px;
    border-radius: 8px;
    background-color: var(--selection);
}

.test__task__options {
    width: 100%;
}

.task__options__fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task__legend {
    margin-bottom: 16px;
}

.task__single__label,
.task__multiple__label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.student__label,
.task__open__label,
.task__detailed__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

