.button-add-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--gray);
    cursor: pointer;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
}

.test-task {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding: 12px;
    border: 2px solid var(--gray);
}

.attachment[data-enabled="true"] {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border: 2px solid var(--gray);
}

.button-add-option {
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    background-color: var(--lightgray);
    border-radius: 4px;
    cursor: pointer;
}

.button-add-option:hover {
    background-color: var(--gray);
}

.answer-options-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    padding: 8px;
    border: 2px solid var(--gray);
}

.answer-options {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
