.points {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 900px;
    width: 90%;
    margin-inline: auto;
    gap: 24px;
}

.points-total,
.points-percentage
{
    display: flex;
    align-items: center;
    padding-block: 16px;
    background-color: var(--lightgray);
    border-radius: 8px;
    overflow: hidden;
}

.points-percentage {
    position: relative;
}

.points-total-value,
.points-percentage-value
{
    width: 100%;
    text-align: center;
    z-index: var(--z-1);
}

.points-percentage-meter {
    position: absolute;
    top: 0;
    bottom: 0;
}

.points-percentage-meter[data-meter-points="low"] {
    background-color: var(--red);
}

.points-percentage-meter[data-meter-points="medium"] {
    background-color: var(--yellow);
}

.points-percentage-meter[data-meter-points="high"] {
    background-color: var(--green);
}

.points-percentage-meter[data-meter-points="max"] {
    background-color: var(--darkgreen);
}
