.task {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
    background-color: var(--lightgray);
    border-radius: 8px;
}

.attachment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment > img,
.attachment > video,
.attachment > audio
{
    max-height: 400px;
    max-width: 100%;
}

@media screen and (max-width: 576px) {
    .input-wrapper > label {
        width: 50px;
    }
}
